<div style="display: inline-block;font-size:12px;line-height:normal;margin-right:4px;vertical-align:top" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#">
  <center>
    <div>#day#</div>
  <div title="#condition#">
    <span style="display:#displayIcon#"><i class="#icone#" style="font-size: 1.5em;line-height:normal;"></i></span>
    <span style="display:#displayImage#;background: url('#icone#') no-repeat center; background-size:100%;width:30px;height:30px;"></span>
  </div>
    <div title="Temp. min / max" style="font-size:0.8em">#low_temperature#° / #high_temperature#°</div>
    <div title="Indice UV" style="font-size:0.8em">#uvMax#</div>
    <div title="Pluie" style="font-size:0.8em">#rain#</div>
  </center>
</div>
