<div class="eqLogic eqLogic-widget text-center allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class# #category#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <link rel="stylesheet" type="text/css" href="plugins/weatherForecast/desktop/weather-icons/css/weather-icons.css" />
  <div class="widget-name">
    <span style="color:#background-color#" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </div>
  <div class="verticalAlign">
    <table border=0 style="border-spacing: 2px; width: 100%;">
      <tr style="background-color:transparent !important;color:var(--link-color);">
        <td style="text-align:center;width:100px;height:100px;" title="Collecte Jeedom: #collectDate#<br>Condition ID: #condition_id#<br>Lieu: #cityName#, #country#<br>Position: #lat#,#lon#<br>#localDateTime#">
          <div style="display:#displayIcon#"><i class="#icone#" style="font-size: 4em;"></i></div>
          <div style="display:#displayImage#;background: url('plugins/weatherForecast/core/template/images/#icone#.png') no-repeat center; background-size: 100% 100%; width: #wImg#; height: #hImg#;"></div>
        </td>
        <td style="font-size:12px!important;line-height:normal;">
          #condition#
          <br/>
          <i class="wi wi-thermometer"></i> #temperature# °C &nbsp; <i title="Humidité" class="wi wi-humidity"></i> #humidity# %
          <br/>
          <i title="Pression atmosphérique" class="wi wi-barometer"></i> #pressure# hPa &nbsp; <i title="Nuages" class="wi wi-cloud"></i> #clouds# % &nbsp; <i title="Pluie" class="wi wi-raindrop icon_blue"></i> #rain#mm #uv_Hcur#
          <br/>
          #sunrise_sunset#
        </td>
        <td style="text-align: center" title="Vent #winddir# #wind_direction#° #windspeed#km/h">
          <!-- Fleche direction du vent idem MF ou icone variable -->
          #windIcon#
          <br>
          <span style="font-size: 0.8em;line-height: 6px!important">#winddir# #windspeed# km/h</span>
          <br>
          <span style="font-size: 0.8em;line-height: 6px!important;background: #ed1c24;color: #ffffff!important" title="Rafales">#windGust#</span>
        </td>
      </tr>
      <tr style="background-color:transparent !important;">
        <td colspan="3" style="padding-top:2px;text-align:center">
          #forecast#
        </td>
      </tr>
    </table>

    <div style="margin-top: 0px;">
      #vigilance#
    </div>
    <div style="margin-top: 0px;">
      #vigilanceMeteoalarm#
    </div>
    <div id="WFtimezone" style="margin-top: 0px;font-size:10px;font-style:italic;">
      #timezone#
    </div>
    <div id="WFpoweredBy" style="margin-top: 0px;font-size:12px;">
      #poweredBy#
    </div>
  </div>
  #divGraphInfo#

  <script>
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
      jeedom.cmd.execute({id: $(this).data('cmd_id')});
    });
  </script>
</div>
