<div class="eqLogic eqLogic-widget text-center allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class# #category#" data-eqType="#eqType#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" style="width: #width#;height: #height#;#style#">
  <div class="widget-name">
    <span style="color:#background-color#" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </div>
  <div class="verticalAlign">
    <div>
      <span class="pull-left" title="Collecte: #collectDate#<br>Condition ID: #condition_id#<br>#cityName#, #country#<br>#lat#,#lon#" style="margin-left:10px">
        <br>
        <i class="#icone#" style="font-size: 3em;"></i>
      </span>
      <div class="pull-right" style="margin-right: 20px;margin-top: 0px;" title="Vent #wind_direction#°">
        #spacer#
        #windIcon#
        <center>
          <span style="font-size: 0.8em;">#winddir# #windspeed# km/h</span>
          <br>
          <span style="font-size: 0.8em;line-height: 6px!important;background: #ed1c24;color: #ffffff!important" title="Rafales">#windGust#</span>
        </center>
      </div>
      <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#conditionid#" title="#cityName#">#condition#</span><br/>
      <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#tempid#" title="Température - Humidité">#temperature# °C - #humidity# %</span><br/>
      <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#pressureid#" title="Pluie - Pression atmo."><i class="icon kiko-drop icon_blue"></i> #rain#mm - #pressure# hPa</span><br/>
      <span style="margin-left: 5px;font-size: 0.8em;" class="cmd noRefresh" data-type="info" data-subtype="string" data-cmd_id="#sunid#">#sunrise_sunset#</span>
    </div>
    <div style="margin-top:8px;">
      <center>#forecast#</center>
    </div>
  </div>

  <script>
    $('.eqLogic[data-eqLogic_uid=#uid#] .cmd').on('click', function() {
      jeedom.cmd.execute({id: $(this).data('cmd_id')});
    });
  </script>
</div>
